<ul class="post-list">
    {%- for post in collections.posts reversed -%}
        <li class="post-list__item">
            <div>
                <div class="post-list__meta">
                    <time>
                        {{ post.date | readableDate }}
                    </time>
                    <span> | </span>
                    <span>{{ post.content | timeToRead }}</span>
                </div>

                <div class="post-list__tags">
                    {% assign filteredTags = post.data.tags | postTags %}
                    {% for tag in filteredTags %}
                        {% capture tagUrl %}/tags/{{ tag }}/{% endcapture %}
                        <a href="{{ tagUrl | url }}">#{{ tag }}</a>
                    {% endfor %}
                </div>
            </div>

            <a href="{{ post.url }}" class="post-list__link">
                <h3 class="post-list__title">{{ post.data.title }}</h3>

                <div class="post__cover">
                    {% assign slug = post.data.title | slugify %}
                    {% assign coverImage = "/posts/" | append: slug | append: "/" | append: post.data.cover %}
                    {% image coverImage, "Cover image", "Cover image" %}
                    <p class="post-list__cover-caption">{{ post.data.caption | strip_html }}</p>
                </div>

                <p class="post-list__excerpt">{{ post.templateContent | strip_html | excerpt }}</p>
            </a>
        </li>
    {%- endfor -%}
</ul>
