<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <div>
            <h1>{{ title }}</h1>
            <p>{{ date | readableDate }}</p>
            <p>{{ content | timeToRead }}</p>
        </div>
        <div>{{ content }}</div>
    </body>
</html>
