<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/assets/css/main.css" rel="stylesheet" />

        {% assign desc = description %}
        {% if desc == blank %}
            {% assign desc = site.description %}
        {% endif %}
        {% if desc %}
            <meta name="description" content="{{ desc | escape  }}">
            <meta property="og:description" content="{{ desc | escape }}">
            <meta name="description" content="{{ desc | escape }}"/>
        {% endif %}

        {% if socialImage == blank %}
            {% assign socialImage = site.defaultSocialImage %}
        {% else %}
            {% assign slug = title | slugify %}
            {% assign socialImage = "/posts/" | append: slug | append: "/" | append: socialImage %}
        {% endif %}
        {% if socialImage %}
            <meta property="og:image" content="{{ socialImage }}"/>
            <meta name="twitter:image" content="{{ socialImage }}"/>
        {% endif %}

        <title>
            {{ title | escape }}
            {% if title %}
                | {{ site.name }}
            {% else %}
                {{ site.name }}
            {% endif %}
        </title>

        <meta property="og:site_name" content="{{ site.name }}">
        <meta property="og:type" content="website">
    </head>
    <body>
        <div class="layout-wrapper">
            {% include 'header' %}
            <main class="main">
                {{ content }}
            </main>

            {% include 'footer' %}
        </div>
    </body>
</html>