<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        {% include 'header' %}
        <h1>Blog posts</h1>
        <ul>
            {%- for post in collections.posts reversed -%}
            <li>
                <div>
                    <p>{{ post.data.date | readableDate }} | {{ post.content | timeToRead }}</p>
                    {% assign filteredTags = post.data.tags | postTags %}
                    <p>{% for tag in filteredTags %}
                        {% capture tagUrl %}/tags/{{ tag }}/{% endcapture %}
                        <a href="{{ tagUrl | url }}">#{{ tag }}</a>
                    {% endfor %}</p>
                </div>
                <a href="{{ post.url }}"><h2>{{ post.data.title }}</h2></a>
                <p>{{ post.data.excerpt }}...</p>
                <a href="{{ post.url }}"><p>Read more</p></a>
            </li>
            {%- endfor -%}
        </ul>
        {% include 'footer' %}
    </body>
</html>